body{
    background-image: url('./img/wp2586787.jpg');
}


.cube
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.cube *
{
    transform-style: preserve-3d;
}

.cube .shadow
{
    position: absolute;
    top: -400px;
    left: -400px;
    width: 800px;
    height: 800px;
    transform: rotateX(-90deg) translateZ(200px);
    background-image: radial-gradient(closest-side, #000000, #00000000);
}

.cube .face
{
    position: absolute;
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
    background-size:cover;
    image-rendering: crisp-edges; /*firefox*/
    image-rendering: pixelated; /*chrome*/
}

.cube .face.x-pos { transform: rotateY(90deg) translateZ(200px); }
.cube .face.x-neg { transform: rotateY(-90deg) translateZ(200px); }
.cube .face.y-pos { transform: rotateX(-90deg) translateZ(200px); }
.cube .face.y-neg { transform: rotateX(90deg) translateZ(200px); }
.cube .face.z-pos { transform: rotateY(0deg) translateZ(200px); }
.cube .face.z-neg { transform: rotateY(180deg) translateZ(200px); }

.cube .face.x-pos { background-image: url('./img/barrel_side.png'); }
.cube .face.x-neg { background-image: url('./img/barrel_side.png'); }
.cube .face.y-pos { background-image: url('./img/barrel_top_open.png'); }
.cube .face.y-neg { background-image: url('./img/barrel_bottom.png'); }
.cube .face.z-pos { background-image: url('./img/barrel_side.png'); }
.cube .face.z-neg { background-image: url('./img/barrel_side.png'); }